<%= form_with(model: [:superadmin, category], class: "grid gap-4 w-1/3") do |form| %>

  <% invalid = category.errors.include?(:id) %>
  <%= form.label :id, I18n.t('attributes.category.id'), class: "floating-label" do %>
    <%= form.text_field :id, class: "input w-full validator #{'input-error' if invalid}", required: true, placeholder: I18n.t('attributes.category.id') %>
    <span><%= I18n.t('attributes.category.id') %></span>
  <% end %>
  <%= raw(error_message(invalid, category.errors.full_messages_for(:id))) %>

  <% invalid = category.errors.include?(:name) %>
  <%= form.label :name, I18n.t('attributes.category.name'), class: "floating-label" do %>
    <%= form.text_field :name, class: "input w-full validator #{'input-error' if invalid}", required: true, placeholder: I18n.t('attributes.category.name') %>
    <span><%= I18n.t('attributes.category.name') %></span>
  <% end %>
  <%= raw(error_message(invalid, category.errors.full_messages_for(:name))) %>

  <%= form.submit I18n.t('actions.save'), class: "btn btn-success" %>
<% end %>
