<div id="<%= dom_id household_unit %>">
  <dl class="mb-4 divide-y divide-gray-400 w-1/3">
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.id') %></dt>
      <dd><%= household_unit.id %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.number') %></dt>
      <dd><%= household_unit.number %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.neighborhood_delegation') %></dt>
      <dd><%= household_unit.neighborhood_delegation.name %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.address_line_1') %></dt>
      <dd><%= household_unit.address_line_1 %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.address_line_2') %></dt>
      <dd><%= household_unit.address_line_2 %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.city') %></dt>
      <dd><%= household_unit.city %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.region') %></dt>
      <dd><%= household_unit.region %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.country') %></dt>
      <dd><%= household_unit.country %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.household_unit.postal_code') %></dt>
      <dd><%= household_unit.postal_code %></dd>
    </div>
  </dl>
</div>
