<%= form_with(model: [:superadmin, identity_verification_request], class: "grid gap-4 w-1/3") do |form| %>

  <% invalid = identity_verification_request.errors.include?(:status) %>
  <%= form.label :status, I18n.t('activerecord.attributes.identity_verification_request.status'), class: "floating-label" do %>
    <%= form.select :status, IdentityVerificationRequest::STATUSES.map { |s| [s.capitalize, s] }, {}, class: "select w-full #{'select-error' if invalid}" %>
    <span><%= I18n.t('activerecord.attributes.identity_verification_request.status') %></span>
  <% end %>
  <%= raw(error_message(invalid, identity_verification_request.errors.full_messages_for(:status))) %>

  <% invalid = identity_verification_request.errors.include?(:rejection_reason) %>
  <%= form.label :rejection_reason, I18n.t('activerecord.attributes.identity_verification_request.rejection_reason'), class: "floating-label" do %>
    <%= form.text_area :rejection_reason, class: "textarea w-full #{'textarea-error' if invalid}", rows: 3, placeholder: I18n.t('activerecord.attributes.identity_verification_request.rejection_reason') %>
    <span><%= I18n.t('activerecord.attributes.identity_verification_request.rejection_reason') %></span>
  <% end %>
  <%= raw(error_message(invalid, identity_verification_request.errors.full_messages_for(:rejection_reason))) %>

  <%= form.submit I18n.t('actions.save'), class: "btn btn-success" %>
<% end %>
