<tr class="hover:bg-base-300">
  <td><%= identity_verification_request.id %></td>
  <td><%= identity_verification_request.first_name %></td>
  <td><%= identity_verification_request.last_name %></td>
  <td><%= identity_verification_request.run %></td>
  <td><%= identity_verification_request.phone %></td>
  <td><%= status_badge(identity_verification_request.status) %></td>
  <td><%= l(identity_verification_request.created_at, format: :short) if identity_verification_request.created_at %></td>
  <td>
    <div class="tooltip" data-tip="<%= I18n.t('actions.show') %>">
      <%= link_to icon('show'), [:superadmin, identity_verification_request], class: "btn btn-sm btn-soft btn-info" %>
    </div>
    <div class="tooltip" data-tip="<%= I18n.t('actions.edit') %>">
      <%= link_to icon('edit'), edit_superadmin_identity_verification_request_path(identity_verification_request), class: "btn btn-sm btn-soft btn-success" %>
    </div>
    <div class="tooltip" data-tip="<%= I18n.t('actions.delete') %>">
      <%= link_to icon('delete'), delete_superadmin_identity_verification_request_path(identity_verification_request), class: "btn btn-sm btn-soft btn-warning" %>
    </div>
  </td>
</tr>
