<% content_for :title do %>
  <%= I18n.t('superadmin.identity_verification_requests.index.title') %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to I18n.t('superadmin.identity_verification_requests.index.title'), superadmin_identity_verification_requests_path %></li>
  <li><%= @identity_verification_request.id %></li>
<% end %>

<div class="w-full">
  <h1 class="font-bold text-4xl my-4"><%= I18n.t('superadmin.identity_verification_requests.index.title') %></h1>
  <h3 class="font-bold text-xl mb-4"><%= I18n.t('superadmin.identity_verification_requests.show.identifier', id: @identity_verification_request.id) %></h3>
  <%= render "buttons" %>
  <%= render @identity_verification_request %>
</div>
