<ul class="steps steps-horizontal w-full mb-8">
  <li class="step <%= 'step-primary' if current_step >= 1 %>"><%= I18n.t('panel.onboarding.steps.neighborhood') %></li>
  <li class="step <%= 'step-primary' if current_step >= 2 %>"><%= I18n.t('panel.onboarding.steps.identity') %></li>
  <li class="step <%= 'step-primary' if current_step >= 3 %>"><%= I18n.t('panel.onboarding.steps.household') %></li>
  <li class="step <%= 'step-primary' if current_step >= 4 %>"><%= I18n.t('panel.onboarding.steps.confirm') %></li>
</ul>
