<%= form_with(model: listing, class: "form-container") do |form| %>

  <div class="form-field">
    <% invalid = listing.errors.include?(:id) %>
    <%= form.label :id, I18n.t('activerecord.attributes.listing.id'), class: "form-label" %>
    <%= form.text_field :id, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, listing.errors.full_messages_for(:id))) %>
  </div>

  <div class="form-field">
    <% invalid = listing.errors.include?(:name) %>
    <%= form.label :name, I18n.t('activerecord.attributes.listing.name'), class: "form-label" %>
    <%= form.text_field :name, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, listing.errors.full_messages_for(:name))) %>
  </div>

  <div class="form-field">
    <% invalid = listing.errors.include?(:description) %>
    <%= form.label :description, I18n.t('activerecord.attributes.listing.description'), class: "form-label" %>
    <%= form.textarea :description, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, listing.errors.full_messages_for(:description))) %>
  </div>

  <div class="form-field">
    <% invalid = listing.errors.include?(:price) %>
    <%= form.label :price, I18n.t('activerecord.attributes.listing.price'), class: "form-label" %>
    <%= form.text_field :price, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, listing.errors.full_messages_for(:price))) %>
  </div>

  <div class="form-field">
    <% invalid = listing.errors.include?(:active) %>
    <%= form.label :active, I18n.t('activerecord.attributes.listing.active'), class: "form-label" %>
    <%= form.checkbox :active, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, listing.errors.full_messages_for(:active))) %>
  </div>

  <div class="form-field">
    <% invalid = listing.errors.include?(:user_id) %>
    <%= form.label :user_id, I18n.t('activerecord.attributes.listing.user_id'), class: "form-label" %>
    <%= form.text_field :user_id, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, listing.errors.full_messages_for(:user_id))) %>
  </div>

  <div class="form-actions">
    <%= form.submit I18n.t('listings.actions.create'), class: "form-submit" %>
  </div>
<% end %>
