<div id="<%= dom_id listing %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= listing.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= listing.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= listing.price %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Active:</strong>
    <%= listing.active? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= listing.user_id %>
  </div>
</div>
