<div class="table-paginator" data-controller="pagy-initializer"><%== @pagy.series_nav() %></div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <thead>
    <tr>
      <th><%= sort_link('listings_path', I18n.t('activerecord.attributes.listing.id'), 'id') %></th>
      <th><%= sort_link('listings_path', I18n.t('activerecord.attributes.listing.name'), 'name') %></th>
      <th><%= I18n.t('operator.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @listings.each.with_index do |listing| %>
      <%= render partial: "listing_row", locals: { listing: listing } %>
    <% end %>
    </tbody>
  </table>
</div>
