<div class="table-paginator" data-controller="pagy-initializer"><%== @pagy.series_nav() %></div>

<div class="table-wrapper">
  <table class="table">
    <thead class="header">
    <tr>
      <th scope="col" class="cell"><%= sort_link('listings_path', I18n.t('activerecord.attributes.listing.id'), 'id') %></th>
      <th scope="col" class="cell"><%= sort_link('listings_path', I18n.t('activerecord.attributes.listing.name'), 'name') %></th>
      <th scope="col" class="cell"><%= I18n.t('operator.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @listings.each.with_index do |listing| %>
      <%= render partial: "listing_row", locals: { listing: listing } %>
    <% end %>
    </tbody>
  </table>
</div>
