<% content_for :title do %>
  <%= I18n.t('views.title.board_members') %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to I18n.t('views.title.board_members'), admin_board_members_path %></li>
  <li><%= @board_member.id %></li>
<% end %>

<div class="w-full">
  <h1 class="font-bold text-4xl my-4"><%= I18n.t('views.title.board_members') %></h1>
  <h3 class="font-bold text-xl mb-4"><%= I18n.t('views.identifier.board_member', id: @board_member.id) %></h3>
  <%= render "buttons" %>
  <%= render @board_member %>
</div>
