<% content_for :title, "Log in" %>

<% content_for :breadcrumb_bar %>

<div class="flex flex-1 flex-col justify-center min-h-full">

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm grid gap-4">

    <h2 class="text-2xl font-bold">Login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 grid gap-4">
        <legend class="fieldset-legend">Login</legend>

        <div class="grid gap-2">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input w-full", placeholder: "Email" %>
        </div>

        <div class="grid gap-2">
          <%= f.label :password, class: "label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "input w-full", placeholder: "Password" %>
        </div>

        <div class="grid gap-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "label" %>
        </div>

        <%= f.submit "Login", class: "btn btn-neutral mt-4" %>
      </fieldset>

    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
