<tr class="hover:bg-base-300">
  <td><%= residence_certificate.folio || "—" %></td>
  <td><%= residence_certificate.member.name %></td>
  <td><%= I18n.t("activerecord.attributes.residence_certificate/status.#{residence_certificate.status}") %></td>
  <td><%= residence_certificate.created_at.strftime("%d/%m/%Y") %></td>
  <td>
    <div class="tooltip" data-tip="<%= I18n.t('actions.show') %>">
      <%= link_to icon('show'), [:admin, residence_certificate], class: "btn btn-sm btn-soft btn-info" %>
    </div>
    <div class="tooltip" data-tip="<%= I18n.t('actions.edit') %>">
      <%= link_to icon('edit'), edit_admin_residence_certificate_path(residence_certificate), class: "btn btn-sm btn-soft btn-success" %>
    </div>
    <div class="tooltip" data-tip="<%= I18n.t('actions.delete') %>">
      <%= link_to icon('delete'), delete_admin_residence_certificate_path(residence_certificate), class: "btn btn-sm btn-soft btn-warning" %>
    </div>
  </td>
</tr>
