<% content_for :title do %>
  <%= I18n.t('views.title.neighborhood_associations') %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to I18n.t('views.title.neighborhood_associations'), superadmin_neighborhood_associations_path %></li>
  <li><%= link_to @neighborhood_association.id, superadmin_neighborhood_association_path(@neighborhood_association) %></li>
  <li><%= I18n.t('actions.edit') %></li>
<% end %>

<div class="w-full">
  <h1 class="font-bold text-4xl my-4"><%= I18n.t('views.title.neighborhood_associations') %></h1>
  <h3 class="font-bold text-xl mb-4"><%= I18n.t('views.identifier.neighborhood_association', id: @neighborhood_association.id) %></h3>
  <%= render "buttons" %>
  <%= render "form", neighborhood_association: @neighborhood_association %>
</div>
