<tr>
  <td><%= persona.id %></td>
  <td><%= persona.name %></td>
  <td><%= persona.run %></td>
  <td>
    <% if persona.pending_verification? %>
      <span class="badge badge-warning"><%= I18n.t('persona.statuses.pending') %></span>
    <% elsif persona.verified? %>
      <span class="badge badge-success"><%= I18n.t('persona.statuses.verified') %></span>
    <% elsif persona.rejected_verification? %>
      <span class="badge badge-error"><%= I18n.t('persona.statuses.rejected') %></span>
    <% end %>
  </td>
  <td>
    <%= link_to I18n.t('actions.show'), admin_verification_path(persona), class: "btn btn-sm btn-soft" %>
  </td>
</tr>
