<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th><%= I18n.t('activerecord.attributes.verified_identity.id') %></th>
        <th><%= I18n.t('activerecord.attributes.verified_identity.name') %></th>
        <th><%= I18n.t('activerecord.attributes.verified_identity.run') %></th>
        <th><%= I18n.t('activerecord.attributes.verified_identity.verification_status') %></th>
        <th><%= I18n.t('shared.table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% verified_identities.each do |verified_identity| %>
        <%= render "verified_identity_row", verified_identity: verified_identity %>
      <% end %>
    </tbody>
  </table>
</div>
