<% content_for :title do %>
  <%= I18n.t('superadmin.residence_verification_requests.index.title') %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= I18n.t('superadmin.residence_verification_requests.index.title') %></li>
<% end %>

<div class="w-full">
  <h1 class="font-bold text-4xl my-4"><%= I18n.t('superadmin.residence_verification_requests.index.title') %></h1>
  <h3 class="font-bold text-xl mb-4"><%= I18n.t('superadmin.residence_verification_requests.index.count', count: @pagy.count) %></h3>
  <%= render "buttons" %>
  <%= render "table" %>
  <%= render "filter" %>
</div>
