<div id="<%= dom_id country %>">
  <dl class="mb-4 divide-y divide-gray-400 w-1/3">
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.country.id') %></dt>
      <dd><%= country.id %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.country.name') %></dt>
      <dd><%= country.name %></dd>
    </div>
  </dl>
</div>
