<div class="my-4"><%== @pagy.series_nav() %></div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link('superadmin_countries_path', I18n.t('attributes.country.name'), 'name') %></th>
        <th class="w-46"><%= I18n.t('views.headers.actions') %></th>
      </tr>
    </thead>
    <tbody>
    <% @countries.each.with_index do |country| %>
      <%= render partial: "country_row", locals: { country: country } %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="my-4"><%== @pagy.series_nav() %></div>
