<div id="<%= dom_id listing %>">
  <dl class="mb-4 divide-y divide-gray-400 w-1/3">
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('attributes.listing.id') %></dt>
      <dd><%= listing.id %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('attributes.listing.name') %></dt>
      <dd><%= listing.name %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('attributes.listing.price') %></dt>
      <dd><%= listing.price %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('attributes.listing.description') %></dt>
      <dd><%= listing.description %></dd>
    </div>
  </dl>
</div>
