<% content_for :title do %>
  <%= I18n.t('admin.neighborhood_delegations.index.title') %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to I18n.t('admin.neighborhood_delegations.index.title'), admin_neighborhood_delegations_path %></li>
  <li><%= @neighborhood_delegation.id %></li>
<% end %>

<div class="w-full">
  <h1 class="font-bold text-4xl my-4"><%= I18n.t('admin.neighborhood_delegations.index.title') %></h1>
  <h3 class="font-bold text-xl mb-4"><%= I18n.t('admin.neighborhood_delegations.show.identifier', id: @neighborhood_delegation.id) %></h3>
  <%= render "buttons" %>
  <%= render @neighborhood_delegation %>
</div>
