<div id="<%= dom_id commune %>">
  <dl class="mb-4 divide-y divide-gray-400 w-1/3">
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('attributes.commune.id') %></dt>
      <dd><%= commune.id %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('attributes.commune.name') %></dt>
      <dd><%= commune.name %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('attributes.commune.region') %></dt>
      <dd><%= commune.region.name %></dd>
    </div>
  </dl>
</div>
