<div class="my-4"><%== @pagy.series_nav() %></div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link('superadmin_communes_path', I18n.t('attributes.commune.name'), 'name') %></th>
        <th><%= sort_link('superadmin_communes_path', I18n.t('attributes.commune.region'), 'region_name') %></th>
        <th class="w-46"><%= I18n.t('views.headers.actions') %></th>
      </tr>
    </thead>
    <tbody>
    <% @communes.each.with_index do |commune| %>
      <%= render partial: "commune_row", locals: { commune: commune } %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="my-4"><%== @pagy.series_nav() %></div>
