<%# locals: (onboarding_request:) %>
<div class="card bg-base-200 shadow-sm">
  <div class="card-body">
    <h3 class="card-title text-xl"><%= I18n.t('panel.onboarding.status.association_label') %></h3>
    <dl class="mt-2 space-y-1">
      <div>
        <dt class="text-xs text-base-content/50"><%= I18n.t('activerecord.attributes.neighborhood_association.name') %></dt>
        <dd class="font-medium"><%= onboarding_request.neighborhood_association&.name %></dd>
      </div>
      <div>
        <dt class="text-xs text-base-content/50"><%= I18n.t('activerecord.attributes.neighborhood_association.commune') %></dt>
        <dd><%= onboarding_request.commune&.name %></dd>
      </div>
      <div>
        <dt class="text-xs text-base-content/50"><%= I18n.t('activerecord.attributes.neighborhood_association.region') %></dt>
        <dd><%= onboarding_request.region&.name %></dd>
      </div>
    </dl>
  </div>
</div>
