<%= form_with(model: verified_identity, url: panel_verification_path, method: :post, class: "grid gap-4 w-1/3") do |form| %>

  <% invalid = verified_identity.errors.include?(:first_name) %>
  <%= form.label :first_name, I18n.t('activerecord.attributes.verified_identity.first_name'), class: "floating-label" do %>
    <%= form.text_field :first_name, class: "input w-full validator #{'input-error' if invalid}", required: true, placeholder: I18n.t('activerecord.attributes.verified_identity.first_name') %>
    <span><%= I18n.t('activerecord.attributes.verified_identity.first_name') %></span>
  <% end %>
  <%= raw(error_message(invalid, verified_identity.errors.full_messages_for(:first_name))) %>

  <% invalid = verified_identity.errors.include?(:last_name) %>
  <%= form.label :last_name, I18n.t('activerecord.attributes.verified_identity.last_name'), class: "floating-label" do %>
    <%= form.text_field :last_name, class: "input w-full validator #{'input-error' if invalid}", required: true, placeholder: I18n.t('activerecord.attributes.verified_identity.last_name') %>
    <span><%= I18n.t('activerecord.attributes.verified_identity.last_name') %></span>
  <% end %>
  <%= raw(error_message(invalid, verified_identity.errors.full_messages_for(:last_name))) %>

  <% invalid = verified_identity.errors.include?(:run) %>
  <%= form.label :run, I18n.t('activerecord.attributes.verified_identity.run'), class: "floating-label" do %>
    <%= form.text_field :run, class: "input w-full validator #{'input-error' if invalid}", required: true, placeholder: I18n.t('activerecord.attributes.verified_identity.run') %>
    <span><%= I18n.t('activerecord.attributes.verified_identity.run') %></span>
  <% end %>
  <%= raw(error_message(invalid, verified_identity.errors.full_messages_for(:run))) %>

  <% invalid = verified_identity.errors.include?(:phone) %>
  <%= form.label :phone, I18n.t('activerecord.attributes.verified_identity.phone'), class: "floating-label" do %>
    <%= form.text_field :phone, class: "input w-full validator #{'input-error' if invalid}", placeholder: I18n.t('activerecord.attributes.verified_identity.phone') %>
    <span><%= I18n.t('activerecord.attributes.verified_identity.phone') %></span>
  <% end %>
  <%= raw(error_message(invalid, verified_identity.errors.full_messages_for(:phone))) %>

  <% invalid = verified_identity.errors.include?(:identity_document) %>
  <div>
    <%= form.label :identity_document, I18n.t('activerecord.attributes.verified_identity.identity_document'), class: "label" %>
    <p class="text-sm text-base-content/60 mb-1"><%= I18n.t('panel.verification.help.upload_ci') %></p>
    <%= form.file_field :identity_document, class: "file-input w-full #{'input-error' if invalid}" %>
  </div>
  <%= raw(error_message(invalid, verified_identity.errors.full_messages_for(:identity_document))) %>

  <%= form.submit I18n.t('actions.verify'), class: "btn btn-success" %>
<% end %>
