<% content_for :filter_drawer do %>
  <div class="drawer z-50">
    <%= checkbox_tag :filter, true, class: "drawer-toggle" %>
    <div class="drawer-side">
      <%= label_tag :filter, "", class: "drawer-overlay", aria: { label: "close sidebar" } %>

      <div class="menu bg-base-200 min-h-full w-80 p-4">
        <h3 class="font-bold text-xl"><%= I18n.t('actions.filter') %></h3>
        <div class="divider"></div>

        <%= form_tag superadmin_regions_path, method: :get do %>

          <div class="grid gap-4">
            <div>
              <%= label_tag :id, I18n.t('attributes.region.id'), class: "label" %>
              <%= text_field_tag :id, params[:id], class: "input", autocomplete: "off" %>
            </div>

            <div>
              <%= label_tag :name, I18n.t('attributes.region.name'), class: "label" %>
              <%= text_field_tag :name, params[:name], class: "input", autocomplete: "off" %>
            </div>

            <%= button_tag raw(icon('filter') + I18n.t('actions.filter')), type: 'submit', class: "btn btn-info" %>
            <%= link_to raw(icon('restart') + I18n.t('actions.restart')), superadmin_regions_path, class: "btn" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
<% end %>
