<div class="my-4"><%== @pagy.series_nav() %></div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link('superadmin_regions_path', I18n.t('attributes.region.name'), 'name') %></th>
        <th><%= sort_link('superadmin_regions_path', I18n.t('attributes.region.country'), 'country_name') %></th>
        <th class="w-46"><%= I18n.t('views.headers.actions') %></th>
      </tr>
    </thead>
    <tbody>
    <% @regions.each.with_index do |region| %>
      <%= render partial: "region_row", locals: { region: region } %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="my-4"><%== @pagy.series_nav() %></div>
