<div id="<%= dom_id category %>">
  <dl class="mb-4 divide-y divide-gray-400 w-1/3">
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.category.id') %></dt>
      <dd><%= category.id %></dd>
    </div>
    <div class="p-2 grid gap-2">
      <dt class="font-medium"><%= I18n.t('activerecord.attributes.category.name') %></dt>
      <dd><%= category.name %></dd>
    </div>
  </dl>
</div>
