<div class="my-4"><%== @pagy.series_nav() %></div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link('categories_path', I18n.t('attributes.category.name'), 'name') %></th>
        <th class="w-46"><%= I18n.t('views.headers.actions') %></th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each.with_index do |category| %>
      <%= render partial: "category_row", locals: { category: category } %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="my-4"><%== @pagy.series_nav() %></div>
