<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) || "Yuntapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Yuntapp">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <nav class="navbar bg-base-100 shadow-sm">
      <div class="container mx-auto px-1 flex flex-row">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
            </div>
            <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
              <li><%= link_to "Inicio", root_path %></li>
              <% if current_user&.superadmin? %>
                <li><%= link_to "Superadmin", superadmin_root_path, class: "text-error font-bold" %></li>
              <% end %>
              <% if current_user&.admin? %>
                <li><%= link_to "Panel Admin", admin_root_path, class: "text-primary font-bold" %></li>
              <% end %>
              <li><%= link_to "Categorías", categories_path %></li>
              <li><%= link_to "Etiquetas", tags_path %></li>
              <li><%= link_to "Publicaciones", listings_path %></li>
              <li><%= link_to "Contacto", contact_path %></li>
            </ul>
          </div>
          <%= link_to "Yuntapp", root_path, class: "btn btn-ghost text-xl" %>
        </div>
<!--
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><%#= link_to "Inicio", root_path %></li>
            <li><%#= link_to "Categorías", categories_path %></li>
            <li><%#= link_to "Etiquetas", tags_path %></li>
            <li><%#= link_to "Publicaciones", listings_path %></li>
            <li><%#= link_to "Contacto", contact_path %></li>
          </ul>
        </div>
-->
        <div class="navbar-end gap-2">
          <% if current_user&.superadmin? %>
            <%= link_to "Superadmin", superadmin_root_path, class: "btn btn-soft btn-error" %>
          <% end %>

          <% if current_user&.admin? %>
            <%= link_to "Panel Admin", admin_root_path, class: "btn btn-soft btn-primary" %>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to "Mi Panel", panel_root_path, class: "btn btn-soft btn-secondary" %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-ghost" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-ghost" %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= content_for :breadcrumb_bar do %>
      <div class="container mx-auto my-2 px-5 flex">
        <div class="breadcrumbs text-sm">
          <ul>
            <li><%= link_to "Inicio", root_path %></li>
            <%= content_for(:breadcrumb) %>
          </ul>
        </div>
      </div>
    <% end %>
    <main class="container mx-auto mt-2 mb-5 px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
